.products {
  height: 100%;
  .swiper {
    width: 100%;
    position: relative;
    min-height: 35vh;
    .title-carousel {
      @extend .title;
    }
    .swiper-container {
      height: 100%;
      width: 100%;
    }

    .swiper-button-next {
      right: 0.5vw;
    }
    .swiper-button-prev {
      left: 0.5vw;
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      display: block;
      top: 60%;
      cursor: pointer;
      background: none;
      color: color("text");
      opacity: 10%;
    }
  }
}

@media screen and (min-width: 768px) {
  .products {
    .swiper {
      @include flexible(flex, column, center, center);

      max-width: 1200px;
      padding-bottom: 2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .products {
    .swiper {
      min-height: 45vh;
      max-width: 1200px;
      padding: 1rem 0;

      .title-carousel {
        margin-bottom: 4rem;
      }
    }
  }
}
